.centreText {
    text-align: center;
  }
  
  h1 {
    font-size: 5vw;
  }
  
  .dropZone {
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 5px;
    padding-bottom: 0px;
    height: 50vh;
    background-color: #232e4a;
    border-radius: 20px;
    color: white;
    font-size: 500%;
  }
  
  .image1 {
    margin-top: 2vh;
    max-width: 100%;
    height: 50vh;
  }
  
  .dank {
    display:flex;
    justify-content:center;
    color: white;
    font-size: 20px;
  }
  
  .dropZoneText {
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }